#the real file should be 'config.properties'
db.url=jdbc:mysql://mydbhost/dbname
db.username=dbuser
db.password=dbpass123
db.driver-class-name=com.mysql.jdbc.Driver

tiers=1,2,3

tier1PerDay=1
tier2PerDay=3
tier3PerDay=10

likesPerEvent=15
retweetsPerEvent=10
followsPerEvent=5

twitter.consumerKey=#Shhh
twitter.secretKey=#Shhh